[Desktop Entry]
Name={{cookiecutter.title}}
Exec=webapp-container --webappUrlPatterns={{cookiecutter.url|replace('http://', 'https?://')|replace('https://', 'https?://')}}/* {{cookiecutter.url}}
Icon=logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
